<app-page-header [title]="title" [subtitle]="subtitle"></app-page-header>

<section class="container section">
  <div class="info-part text-center col-lg-12">
    <app-current-release></app-current-release>
  </div>
  <span class="row submenu unselectable">All Release Versions</span>
  <div class="box-part">
    <ag-grid-angular
      #agGrid
      class="ag-theme-material"
      [rowData]="previousVersions"
      [gridOptions]="gridOptions"
      autoSize=true
      style="width:100%;"
      domLayout="autoHeight"
      [frameworkComponents]="frameworkComponents"
      [overlayNoRowsTemplate]="overlayNoRowsTemplate"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize">
    </ag-grid-angular>
  </div>
</section>
