<ng-template #signup>
  <div class="container section">

    <div class="row text-right">
      <p class="closeBtn col-12 info" (click)="closeModal()">x</p>
    </div>

    <div class="row text-center">
      <p class="col-12 info">Create a new account</p>
    </div>
    <form>
      <label class="col-12"> Username
        <input class="col-12" type="text" name="username" [(ngModel)]="user.username" (change)="checkUsername(user.username)">
        <span style="color:red">{{usernameError}}</span>
      </label>
      <label class="col-6"> firstname
        <input class="col-6" type="text" name="firstname" [(ngModel)]="user.firstname">
      </label>
      <label class="col-6"> lastname
        <input class="col-6" type="text" name="lastname" [(ngModel)]="user.lastname">
      </label>
      <label class="col-12"> Password
        <input class="col-12" type="password" name="password" (change)="checkPasswords(user)" [(ngModel)]="user.password">
        <span style="color:red">{{shortPassword}}</span>
      </label>
      <label class="col-12"> Repeat your Password
        <input class="col-12" type="password" name="passwordCheck" [(ngModel)]="user.passwordCheck" (change)="checkPasswords(user)">
          <span style="color:red">{{differentPassword}}</span>
      </label>
      <p style="color:red">{{errorMessage}}</p>
      <button class="btn btn-primary fa fa-submit" (click)="submit(user)">Sign up</button>
    </form>
  </div>
</ng-template>
