<nav class="main-menu navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="assets/icon.jpg" alt="SG">
  </a>
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigate">
    <span class="navbar-toggler-icon"><em class="fa fa-bars fa-2x"></em></span>
  </button>
  <!-- navbar menu -->

  <div class="nav-menu collapse navbar-collapse" id="navigate">
    <ul class="navbar-nav col-12">
      <li class="nav-item col-2">
        <a class="nav-link">
          <a role="button nav-link" routerLink="/home">Home </a>
        </a>
      </li>

      <li class="nav-item col-2" *ngIf="isAuthenticated()">
        <a class="dropdown nav-link" dropdown>
          <a dropdownToggle role="button">Release <em class="caret"></em></a>
          <div *dropdownMenu class="dropdown-menu">
            <a class="dropdown-item nav-link" routerLink="/releasers">Releasers</a>
            <a class="dropdown-item nav-link" routerLink="/releases">Releases</a>
            <a class="dropdown-item nav-link" routerLink="/testers">Testers</a>
          </div>
        </a>
      </li>

      <li class="nav-item col-2" *ngIf="isAuthenticated()">
        <a class="dropdown nav-link" dropdown>
          <a dropdownToggle role="button">Support <em class="caret"></em></a>
          <div *dropdownMenu class="dropdown-menu">
            <a class="dropdown-item nav-link" routerLink="/supports/paris">Paris</a>
            <a class="dropdown-item nav-link" routerLink="/supports/bangalore">Bangalore</a>
          </div>
        </a>
      </li>

      <li class="nav-item col-3" *ngIf="isAuthenticated()">
        <a class="nav-link">
          <a role="button nav-link" routerLink="/issues">Reconciliation </a>
        </a>
      </li>

      <li class="nav-item col-2" *ngIf="isAuthenticated()">
        <a class="dropdown nav-link" dropdown>
          <a dropdownToggle role="button">Configuration <em class="caret"></em></a>
          <div *dropdownMenu class="dropdown-menu">
            <a class="dropdown-item nav-link" routerLink="/members">Members</a>
            <a class="dropdown-item nav-link" routerLink="/configuration" *ngIf="isAdmin()">Project</a>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <!-- login button -->

  <div class="col-3 text-center" *ngIf="!isAuthenticated(); else guest">
    <button class="btn btn-primary fa fa-sign-in text-center" (click)="signin()" tooltip="log in"></button>
    <button class="btn btn-primary fa fa-user-plus" (click)="signup()" tooltip="create a new account"></button>
  </div>

  <ng-template #guest>
    <div class="col-3 text-center" >
      <button class="btn btn-primary fa fa-sign-out" (click)="logout()" tooltip="logout"></button>
    </div>
  </ng-template>
</nav>
<router-outlet></router-outlet>
<app-login-modal #login></app-login-modal>
