.main-menu {
  background-color: #F8F8F8;
  padding: 0 20%
}

.menu-item, .nav-link a {
  color: #777;
  font-weight: 600;
}

.nav-link {
  width: 110%;
}

.dropdown:hover {
  cursor: pointer;
}

.sglogo {
  height: 70%;
  width: 70%;
}
