<div class="box-part">
  <ag-grid-angular
      #agGrid
      class="ag-theme-balham"
      [rowData]="rowData"
      [gridOptions]="gridOptions"
      autoSize=true
      style="width:100%;"
      domLayout="autoHeight"
      [frameworkComponents]="frameworkComponents">
  </ag-grid-angular>

  <div class="add">
    <span>add a new {{task}} </span>
    <select rowData>
            <option *ngFor="let member of nonCandidates">{{member.firstname}} {{member.lastname}}</option>
    </select>
    <button>save me</button>
  </div>
</div>

<app-info-modal #info [title]="title" [message]="message">
</app-info-modal>

<app-confirmation-modal #confirmation [action]="action" [inputs]="inputs">
</app-confirmation-modal>
