<div class="container section">
  <span class="row submenu unselectable" (click)="isProjectConfigCollapsed = !isProjectConfigCollapsed">
    Project configuration</span>
  <div [collapse]="isProjectConfigCollapsed">
    <div class="info-part">
      <form class="row">

        <label class="col-lg-6 col-md-12 text-left">
          <div class="row">
            <span class="col-md-4 col-sm-12">Project Jira name
              <span class="fa fa-info-circle" tooltip="Name of the project. Is used to define which JIRA project is used"></span>
            </span>
            <input class="col-md-8 col-sm-12" type="text" name="name" [(ngModel)]="project.name">
          </div>
        </label>

        <label class="col-lg-6 col-md-12 text-left">
          <div class="row">
            <span class="col-md-4 col-sm-12">Planner email
              <span class="fa fa-info-circle" tooltip="email address that will send automated mails."></span>
            </span>
            <input class="col-md-8 col-sm-12" type="email" name="email" [(ngModel)]="project.email">
          </div>
        </label>

        <label class="col-lg-6 col-md-12 text-left">
          <div class="row">
            <span class="col-md-4 col-sm-12">PI duration
              <span class="fa fa-info-circle" tooltip="Duration of the PI, expressed in Sprints."></span>
            </span>
            <input class="col-md-8 col-sm-12" type="number" name="piDuration" [(ngModel)]="project.piDuration">
          </div>
        </label>

        <label class="col-lg-6 col-md-12 text-left">
          <div class="row">
            <span class="col-md-4 col-sm-12">Sprint duration
              <span class="fa fa-info-circle" tooltip="Sprint duration, expressed in week"></span>
            </span>
            <input class="col-md-8 col-sm-12" type="number" name="sprintDuration" [(ngModel)]="project.sprintDuration">
          </div>
        </label>

        <label class="col-lg-6 col-md-12 text-left">
          <div class="row">
            <span class="col-md-4 col-sm-12">Github User
              <span class="fa fa-info-circle" tooltip="Github user holding the project repository (must be public!)"></span>
            </span>
            <input class="col-md-8 col-sm-12" type="text" name="githubUser" [(ngModel)]="project.githubUser">
          </div>
        </label>

        <label class="col-lg-6 col-md-12 text-left">
          <div class="row">
            <span class="col-md-4 col-sm-12">Github Repository
              <span class="fa fa-info-circle" tooltip="repository holding the project binaries. Serves as default repository during reconciliation."></span>
            </span>
            <input class="col-md-8 col-sm-12" type="text" name="githubRepo" [(ngModel)]="project.githubRepo">
          </div>
        </label>
      </form>
      <div class="text-center">
        <button class="btn btn-small btn-primary fa fa-save" (click)="saveProject(project)"></button>
      </div>
    </div>
  </div>
</div>
