<div class="intro-area">
  <div class="title">
    <h1 class="text-center">Configuration</h1>
  </div>
  <div class="subtitle">
    <h2 class="text-center">Members configuration</h2>
  </div>
</div>
<div class="container section">
  <div class="row">
    <button type="button" name="create" class="btn" (click)="changeView('create')">Create new Member</button>
  </div>
</div>

<div [ngSwitch]="view" class="container">
  <app-member-creation *ngSwitchCase="'create'"></app-member-creation>
  <app-member-creation *ngSwitchDefault></app-member-creation>
</div>
