<div class="intro-area">
  <div class="title">
    <h1 class="text-center">Configuration</h1>
  </div>
  <div class="subtitle">
    <h2 class="text-center">Members configuration</h2>
  </div>
</div>


<div class="container section">
  <div class="row submenu unselectable" (click)="isModificationCollapsed = !isModificationCollapsed">
    <span>Modify existing member  <span class="fa fa-angle-down"></span></span>
  </div>
  <div [collapse]="isModificationCollapsed">
    <app-member-modification></app-member-modification>
  </div>
</div>
