<app-page-header title="Configuration" subtitle="configure project, tasks and job activation"></app-page-header>

<div class="container section">
  <span class="row submenu unselectable" (click)="isJobConfigCollapsed = !isJobConfigCollapsed">
    Job activation</span>
  <div [collapse]="isJobConfigCollapsed">
    <div class="row">
      <app-job-configuration class="col text-center" icon="fa fa-refresh fa-2x" job="roundRobin"></app-job-configuration>
      <app-job-configuration class="col text-center" icon="fa fa-envelope fa-2x" job="mail"></app-job-configuration>
    </div>
  </div>

</div>
<div class="container section">
  <app-project-configuration></app-project-configuration>
</div>
