<div class="row info-part">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <span class="{{icon}}"></span>
    <div class="title">
      <h4>{{job}}</h4>
    </div>
  </div>

  <!-- releaser -->
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="text-center">
      <div class="title">
        <h4>Releaser</h4>
      </div>
      <div class="text">
      </div>
      <ui-switch defaultBgColor="#FD6969" checkedLabel="activated" uncheckedLabel="deactivated" [checked]="releaserStatus" (valueChange)="activate($event, 'releaser')">
      </ui-switch>
    </div>
  </div>

  <!-- support -->
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="text-center">
      <div class="title">
        <h4>support</h4>
      </div>
      <div class="text">
      </div>
      <ui-switch defaultBgColor="#FD6969" checkedLabel="activated" uncheckedLabel="deactivated" [checked]="supportStatus" (valueChange)="activate($event, 'support')">
      </ui-switch>
    </div>
  </div>
</div>
