@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import '~ag-grid-community/dist/styles/ag-theme-material.css';
@import "app/shared/styles/ag-grid.css";

html {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: whitesmoke;
}

.box-part {
  margin: 1% 0;
  border-radius: 0;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 5% 10%;
}

.info-part {
  margin: 1% 0;
  border-radius: 0;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 5% 2%;
  height: 90%;
}

.menu-part {
  border-radius: 0;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 15% 5%;
  margin: 2% 0%;
}

.box-part:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.36), 0 3px 6px rgba(0,0,0,0.43);
}

.info {
  font-weight: bold;
  font-size: 1.2em;
  justify-content: center;
}

.btn {
  color: white;
  background-color: darkred;
  border-color: darkred;
  margin: 1% 1%;
  width: 40%
}

.btn-small {
  width: 10% !important;
}

.btn:hover, .btn:active, .btn:focus,
.btn-primary.focus {
  color: white;
  background-color: darkred !important;
  border-color: darkred !important;
  text-align: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.36), 0 3px 6px rgba(0,0,0,0.43);
}

.title>h1 {
  font-weight: bold;
  font-size: 1.8em;
}

.title>h2 {
  font-style: bold;
  font-size: 1.5em;
}

body {
  text-align: center;
  background-color: inherit;
}

.text {
  margin: 20px 0px;
}

span {
  font-size: 15px;
}

.section {
  margin: 2% auto;
}

.submenu {
  cursor: pointer;
  border-radius: 0;
  margin: 2% 0;
  padding: 2% 2%;
  color: black;
  font-weight: bold;
  background-color: lightgrey;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
